body{
    margin: 0;
    padding: 0;
    background-image: url('/images/login.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}
.page-title{
    text-align: center;
    font-weight: 600;
    font-size: larger;
    font-family: 'Courier New';
    margin-top: 400px;
   color: crimson;
    width: fit-content;
   margin-left: 600px;
}